__pycache__/
*.pyc
*.bak
.pytest_cache/
.venv/
.ruff_cache/
*.egg-info/
build/
dist/
.env
.env.*
*.log
*.csv
*.tmp
*.lock.tmp
data/**/*
!data/input/
!data/output/
!data/input/.gitkeep
!data/output/.gitkeep
